include ../../components/burger/burger
header.header
    .container
        .header-burger
            +burger
        .header-logo
            .header-logo__img
        .header-nav
            ul.header-nav__ul
                li: a(href="#breadcrumbs") Breadcrumbs
                li: a(href="#buttons") Buttons
                li: a(href="#inputs") Inputs
                li: a(href="#selects") Selects
                li: a(href="#forms") Form
                li: a(href="#checkbox") Checkboxes
                li: a(href="#edittext") Text
            ul.header-nav__more
                li.header-nav__moreLi(style="display:none")
                    a More
                    ul.submenu
        .header-feedback