include ../../components/burger/burger
header.header
    .container
        .header__burger
            +burger
        .header__logo
        .header__nav
            ul.header__nav-list
                li.header__nav-item: a(href="#breadcrumbs").header__nav-link Breadcrumbs
                li.header__nav-item: a(href="#buttons").header__nav-link Buttons
                li.header__nav-item: a(href="#inputs").header__nav-link Inputs
                li.header__nav-item: a(href="#selects").header__nav-link Selects
                li.header__nav-item: a(href="#forms").header__nav-link Form
                li.header__nav-item: a(href="#checkbox").header__nav-link Checkboxes
                li.header__nav-item: a(href="#edittext").header__nav-link Text
        .header__feedback